all:
  hosts:
    upstream:
      ansible_host: host
      ansible_user: user
      ansible_ssh_private_key_file: ./secret.pem
    load-generator:
      ansible_host: host
      ansible_user: user
      ansible_ssh_private_key_file: ./secret.pem
