aws_region: us-west-2
aws_key_name: secret
aws_instance_type: t2.micro
aws_image: ami-06640050dc3f556bb
aws_group: secret-sg
aws_vpc_subnet_id: subnet-vpc_subnet_id
aws_access_key: aws_access_key
aws_secret_key: aws_secret_key
provider:
  user: ec2-user
  key_file: ./secret.pem
