azure_vm_size: Standard_B1s
azure_location: westus
azure_image:
  offer: RHEL
  publisher: RedHat
  sku: '8_6'
  version: '8.6.2022070801'
azure_ssh_public_key: "public_key"
provider:
  user: azureuser
  key_file: ./secret.pem
