query_type: UDG
udg_depth: 0
enable_auth: False
enable_analytics: False
enable_quota: False
enable_rate_limiting: False

udg_query:
  0: "query { user(id: 1) { username name email }}"
  1: "query { user(id: 1) { username name email posts { title body }}}"
  2: "query { user(id: 1) { username name email posts { title body comments { name email body }}}}"
